mat-toolbar {
  background: #004a9f;
  color: white;
  height: 10vh;
}

mat-sidenav {
  width: 200px;
  background: #002b5c;
  color: white;
  padding: 16px;
  text-align: center;
}

mat-sidenav-container {
  height: 90vh;
}
